@import "mixins.scss";
$negro: #000000;
$oscuro: #303030;
$blanco: #ffffff;
$azul: #017cba;
$azul_fuerte: #0e3b71;
$verde: #00b093;
$verde2: #00bb39;
$gris: #b1b1b1;
$gris2: #c1c0c0;
@import "stylesheet2.scss";