{MINI_LISTADO}
#gralBox
	p.tal SAPAL cuenta con 4 sucursales:
	h1.tal Matriz
	h2.tal &bull;&nbsp;
	p.tal
	h1.tal 
	h2.tal &bull;&nbsp;
	p.tal
a(href="{DIR}servicios").lnk-back.l.db.pr Regresar al menú principal
	span.pa.db
.clear