{MINI_LISTADO}
#gralBox.suspension
	h1.tac ÚLTIMA ACTUALIZACIÓN: 21/11/2013
	table
		thead
			tr
				th Fecha
				th Colonias
				th Horario
				th Motivo
		tbody
			{AVISOS}
a(href="{DIR}servicios").lnk-back.l.db.pr Regresar al menú principal
	span.pa.db
.clear