ul.ul_hoz#ul_servicios.tac
	li
		a(href="{DIR}servicios/aguapotable", style="background-image: url({DIR}img/servicios/btn_on_aguapotable.jpg)").db.pr.bkg-cover#lnk-agua
			span.fade.pa.db
			span.screen.pa.db
			span.ico.pa.db
			span.txt.pa.db.tac AGUA POTABLE
	li
		a(href="{DIR}servicios/saneamiento", style="background-image: url({DIR}img/servicios/btn_on_saneamiento.jpg)").db.pr.bkg-cover#lnk-saneamiento
			span.fade.pa.db
			span.screen.pa.db
			span.ico.pa.db
			span.txt.pa.db.tac SANEAMIENTO
	li
		a(href="{DIR}servicios/alcantarillado", style="background-image: url({DIR}img/servicios/btn_on_alcantarillado.jpg)").db.pr.bkg-cover#lnk-alcantarillado
			span.fade.pa.db
			span.screen.pa.db
			span.ico.pa.db
			span.txt.pa.db.tac ALCANTARILLADO
	li
		a(href="{DIR}servicios/sucursalesyhorarios", style="background-image: url({DIR}img/servicios/btn_on_sucursales.jpg)").db.pr.bkg-cover#lnk-sucursales
			span.fade.pa.db
			span.screen.pa.db
			span.ico.pa.db
			span.txt.pa.db.tac SUCURSALES Y HORARIOS
	li
		a(href="{DIR}transparencia/leydetransparencia/serviciostramites?id=13", style="background-image: url({DIR}img/servicios/btn_on_requisitos.jpg)").db.pr.bkg-cover#lnk-requisitos.rfalse
			span.fade.pa.db
			span.screen.pa.db
			span.ico.pa.db
			span.txt.pa.db.tac TRÁMITES, CONTRATACIONES Y SERVICIOS
	li
		a(href="{DIR}servicios/cuotasytarifas", style="background-image: url({DIR}img/servicios/btn_on_cuotas.jpg)").db.pr.bkg-cover#lnk-cuotas.rfalse
			span.fade.pa.db
			span.screen.pa.db
			span.ico.pa.db
			span.txt.pa.db.tac CUOTAS Y TARIFAS
	li
		a(href="{DIR}transparencia/leydetransparencia/leyesyreglamentos?id=5", style="background-image: url({DIR}img/servicios/btn_on_reglamentos.jpg)").db.pr.bkg-cover#lnk-reglamentos.rfalse
			span.fade.pa.db
			span.screen.pa.db
			span.ico.pa.db
			span.txt.pa.db.tac REGLAMENTOS
	li
		a(href="{DIR}servicios/avisosdesuspension", style="background-image: url({DIR}img/servicios/btn_on_suspension.jpg)").db.pr.bkg-cover#lnk-suspension
			span.fade.pa.db
			span.screen.pa.db
			span.ico.pa.db
			span.txt.pa.db.tac AVISOS DE SUSPENSIÓN
	li
		a(href="{DIR}servicios/sapalcompra", style="background-image: url({DIR}img/servicios/btn_on_compra.jpg)").db.pr.bkg-cover#lnk-compra
			span.fade.pa.db
			span.screen.pa.db
			span.ico.pa.db
			span.txt.pa.db.tac SAPAL COMPRA