{MINI_LISTADO}
#saneamiento.view-serv
	h1.tac SISTEMA DE COGENERACIÓN DE ENERGÍAS
	p.taj Con la puesta en marcha, en el año 2011 del Sistema de Cogeneración de Energías Eléctrica y Térmica a partir de Biogás, el Organismo Operador contribuye a la lucha internacional contra el calentamiento global, pues a la vez que evita la liberación a la atmósfera de gases de efecto invernadero, convierte estos gases en una fuente sustentable de energía y genera economías en la operación de la PTARM.
	ul.ul_hoz.tac
		li.tal
			h2.dib Ficha Técnica:
			.clear
			p
				span - Biogás consumindo: 16,000 m3/día.
				br
				spam - Producción de energía eléctrica: 1,270 kilowatts-hora.
				br
				span - Cobertura: 75% de la energía requerida por la PTARM.
				br
				span - Inversión: 23.4 millones de pesos
				br
				span - Fuente: Empresa concesionada Ecosys III.
				br
				span - Amortización: La suma de ahorros por 10 años en el rubro de energía, al término de los cuáles los equipos pasarán a ser propiedad del Organismo Operador.
				br
				span - Beneficios adicionales: Ecosys III cubrirá un pago mensual al Organismo Operador durante 10 años que se aplicará en nuevos desarrolladores tecnólogicos.
		li
			img(src="{DIR}media/images/img-saneamiento.png", alt="SISTEMA DE COGENERACIÓN DE ENERGÍAS")
			.pie.tal
				span Energía Eléctrica y Térmica a partir de Biogás
	p En el año 2012 se instaló el segundo motogenerador por lo que este sistema ya cubre el 75% de las necesidades de energía eléctrica de la Planta Municipal de Tratamiento de Aguas Residuales.
a(href="{DIR}servicios").lnk-back.l.db.pr Regresar al menú principal
	span.pa.db
.clear