{MINI_LISTADO}
#gralBox.sucursales
	p Tu tiempo es muy importante, encuentra el centro de pago más cercano.
	.l
		h1 Oficina Central Torres Landa
		ul.el
			li
				span.db &nbsp;Blvd. Juan José Torres Landa No. 2620 Ote.
				span.db &nbsp;Col. El Paisaje 
				strong &nbsp;Sistema de Atención al Cliente 073
				br
				strong &nbsp;De lunes a viernes de 8:00 a 16:00 Hrs.
		span &nbsp;	
		h1 Sucursales
		ul.el
			li
				h3 Hidalgo
				span Blvd. Hidalgo No. 2221 Col. Valle del Sol
				br
				span De lunes a viernes de 8:00 a 16:00 Hrs.
			li
				h3 Morelos
				span Blvd. José María Morelos No. 2926 Col. León I
				br
				span De lunes a viernes de 8:00 a 16:00 Hrs.
			li
				h3 Centro
				span Emiliano Zapata No. 105
				br
				span De lunes a viernes de 8:00 a 16:00 Hrs.
			li
				h3 Autopago
				span Blvd. Juan José Torres Landa No. 2620 Ote.
				br
				span Col. El Paisaje
				br
				span De lunes a viernes de 8:00 a 19:00 Hrs.
				br
				span y sábados de 9:00 a 14:00 Hrs.
		p &nbsp;
		h1 Gerencias Administrativas
		ul.el
			li
				h3 Estaciones de Transferencia del SIT
				span San Jerónimo, Delta y San Juan Bosco
				br
				span De lunes a viernes de 9:00 am hasta la hora de cierre 
				br
				span de la estación.
			li
				h3 Plaza Satélite
				span.db Blvd. Juan José Torres Landa esq. Miguel de Cervantes 
				span Saavedra locales 20 y 21
		p &nbsp;
		h1 Cajeros Automáticos
		ul
			li
				span Plaza Mayor
			li
				span Centro Max
			li
				span Plaza Galerías
			li
				span SAPAL Oficina Central Torres Landa
				strong 24 hrs.
			li
				span SAPAL Blvd. Hidalgo 
				strong 24 hrs.
			li
				span SAPAL Centro
				strong 24 hrs.
			li
				span Gerencias Administrativas
	.r
		h1 Domiciliación
		ul.sl
			li
				span Banorte
			li
				span BBVA Bancomer
			li
				span Banamex
			li
				span HSBC
			li
				span Scotiabank
			li
				span Santander
			li
				span Banco del Bajío
		h1 Bancos
		label.db &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VENTANILLA Y BANCA ELECTRÓNICA
		label.db &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LÍNEA DE CAPTURA (CLAVE DE REFERENCIA FUERA DE LEÓN)
		br
		ul.sl
			li
				span Banorte
			li
				span BBVA Bancomer
			li
				span Banamex
			li
				span HSBC
			li
				span Scotiabank
			li
				span Santander
			li
				span Banco del Bajío
		h1 Cajas Populares
		ul.sl
			li
				span Mexicana
			li
				span Acremex
			li
				span Arboledas
			li
				span San Nicolás
			li
				span Santa Margarita Ma. Alacoque
			li
				span La Merced
			li
				span Independencia
			li
				span José Antonio Urquiza
			li
				span Coop. Desarrollo
			li
				span Libertad
			li
				span Peñitas
		h1 Tiendas
		ul.sl
			li
				span OXXO
			li
				span Bara
	.clear
a(href="{DIR}servicios").lnk-back.l.db.pr Regresar al menú principal
	span.pa.db
.clear