#pp
	#gralCycle.cycle-slideshow(data-cycle-fx="scrollHorz", data-cycle-slides="> div", data-cycle-timeout="4000", data-cycle-speed="1000", data-cycle-swipe="true", data-cycle-pager=".cycle-pager", data-cycle-pager-template="<span></span>")
		{BANNERS}
	.cycle-pager.pa.tac.wrapper
	ul#ul-listado-pp.wrapper
		li
			a(href="{DIR}proyectosprioritarios/presaelzapotillo").db.tac
				span PRESA EL ZAPOTILLO
		li
			a(href="{DIR}proyectosprioritarios/accesouniversalalagua").db.tac
				span ACCESO UNIVERSAL AL AGUA
		li
			a(href="{DIR}proyectosprioritarios/planmaestropluvial").db.tac
				span PLAN MAESTRO PLUVIAL
		li
			a(href="{DIR}proyectosprioritarios/saneamiento").db.tac
				span SANEAMIENTO
		li
			a(href="{DIR}proyectosprioritarios/aguatratada").db.tac
				span AGUA TRATADA
		li
			a(href="{DIR}proyectosprioritarios/sac").db.tac
				span SISTEMA DE ATENCIÓN AL CLIENTE
		//li
			a(href="{DIR}proyectosprioritarios/automatizacion").db.tac
				span AUTOMATIZACIÓN
		li
			a(href="{DIR}proyectosprioritarios/programadeobra2014").db.tac
				span PROGRAMA DE OBRA 2014