#consejodirectivo
	#gralCycle.cycle-slideshow(data-cycle-fx="scrollHorz", data-cycle-slides="> div", data-cycle-timeout="4000", data-cycle-speed="1000", data-cycle-swipe="true", data-cycle-pager=".cycle-pager", data-cycle-pager-template="<span></span>")
		{BANNERS}
	.cycle-pager.pa.tac.wrapper
	#gralBox
		h2.tac Lic. Pedro González García
		p.tac PRESIDENTE
		h2.tac Lic. Óscar Garza Romo
		p.tac SECRETARIO
		h2.tac Lic. Leonardo Lino Briones
		p.tac TESORERO
		h2.tac Síndico C.P. José Eugenio Martínez Vega
		p.tac VOCAL
		h2.tac Regidor C.P. Aurelio Martínez Velázquez
		p.tac VOCAL
		h2.tac Regidor Lic. Alejandro Arena Barroso
		p.tac VOCAL
		h2.tac Lic. Hugo Varela Flores
		p.tac VOCAL
		h2.tac Lic. Luis Ernesto Collazo Rosales
		p.tac VOCAL
		h2.tac Ing. Alejandro Arenas Ferrer
		p.tac VOCAL
		h2.tac Ing. Alejandro Zermeño Padilla
		p.tac VOCAL
		h2.tac Ing. Jorge Ramírez Hernández
		p.tac VOCAL
		h2.tac Ing. Manuel Ernesto Vázquez Muñoz
		p.tac VOCAL
		h2.tac Lic. Héctor Rodríguez Aparicio
		p.tac VOCAL
		h2.tac Lic. Luz Graciela Rodríguez Martínez
		p.tac VOCAL
		h2.tac Ing. Roberto González Martínez
		p.tac VOCAL
		h2.tac Ing. Jazmín Paola López Vázquez
		p.tac VOCAL
		h2.tac Ing. Sergio Castro Enríquez
		p.tac VOCAL