#cultura
	#gralCycle.cycle-slideshow(data-cycle-fx="scrollHorz", data-cycle-slides="> div", data-cycle-timeout="4000", data-cycle-speed="1000", data-cycle-swipe="true", data-cycle-pager=".cycle-pager", data-cycle-pager-template="<span></span>")
		{BANNERS}
	.cycle-pager.pa.tac.wrapper
	.mini-title.tac
		h1 &nbsp;CULTURA DEL AGUA
	.wrapper
		ul#naranja.ul_hoz
			li
				img(src="{DIR}img/cultura/img-naranja.png", alt="CULTURA DEL AGUA")
			li
				p Acciones para que la gente que quiere a su comunidad tome responsabilidad en ella y contribuya activamente en su cambio de vida.
				p
					h3 Eso es la Gestión Social.
		ul#verde.ul_hoz
			li
				p Conocer el vínculo de la institución con la comunidad para conocer las necesidades, las inquietudes y el arraigo que existen en el primer trazo en cada proyecto.
			li
				img(src="{DIR}img/cultura/img-verde.png", alt="CULTURA DEL AGUA")
		ul#rosa.ul_hoz
			li
				img(src="{DIR}img/cultura/img-rosa.png", alt="CULTURA DEL AGUA")
			li
				p
					h3 Proponer, escuchar, discernir y acordar.
				p Lo hacemos todos los días, por eso es fácil llevar el proceso a cada proyecto, porque está en la naturaleza humana.
		ul#azul.ul_hoz
			li
				p
					h3 Las obras de Sapal le pertenecen a la gente
				p La participación de la comunidad es el mejor indicativo del éxito de nuestros proyectos.
			li
				img(src="{DIR}img/cultura/img-azul.png", alt="CULTURA DEL AGUA")
		iframe(width="960", height="720", src="//www.youtube.com/embed/6j4KhnRwJXM", frameborder="0", allowfullscreen)	
		p
			br