#est-meteorologicas
	#gralCycle.cycle-slideshow(data-cycle-fx="scrollHorz", data-cycle-slides="> div", data-cycle-timeout="4000", data-cycle-speed="1000", data-cycle-swipe="true", data-cycle-pager=".cycle-pager", data-cycle-pager-template="<span></span>")
		.item-slide.bkg-cover(style="background-image: url({DIR}media/images/bann-mapa.jpg);")
			.label.wrapper.pr
				h1.pa ESTACIONES
					br
					| METEOROLÓGICAS
	.cycle-pager.pa.tac.wrapper