#hmv
	#gralCycle.cycle-slideshow(data-cycle-fx="scrollHorz", data-cycle-slides="> div", data-cycle-timeout="4000", data-cycle-speed="1000", data-cycle-swipe="true", data-cycle-pager=".cycle-pager", data-cycle-pager-template="<span></span>")
		{BANNERS}
	.cycle-pager.pa.tac.wrapper
	#gralBox
		h1.tac Historia
		p.tac El organismo operador de León se inició como una dependencia de la administración municipal bajo el nombre de "Ramo de Aguas Municipales".
		p.tac Posteriormente, al final de la década de los años 40 la administración se convirtió en "Junta Federal de Agua Potable y Alcantarillado".
		p.tac En el período de 1950 a 1953 la administración pasó a Junta Estatal y en el periodo de 1954 a 1956 volvió a ser "Junta Federal de Agua Potable y Alcantarillado".
		p.tac Finalmente el 5 de marzo de 1982 se creó mediante decreto gubernativo No. 19, una Comisión con carácter provisional para la creación del Organismo Operador.
	#gralBox
		h1.tac Misión
		p.tac "Brindar los servicios de agua potable, saneamiento y aprovechamiento del agua tratada a la población de León, siendo un organismo con capacidad técnica y financiera que garantice los servicios con calidad, oportunidad y sostenibilidad, y contribuya a sus expectativas de salud y desarrollo, dentro del marco legal y normativo, con respeto al medio ambiente, buscando permanentemente la máxima eficiencia"
	#gralBox
		h1.tac Visión
		p.tac "Ser un organismo altamente confiable, eficiente, transparente, innovador, comprometido a garantizar la disponibilidad presente y futura de los servicios de agua potable, saneamiento y agua tratada  para León, con autosuficiencia técnica y financiera, con la búsqueda permanente de la sustentabilidad del medio ambiente."