#sac
	#gralCycle.cycle-slideshow(data-cycle-fx="scrollHorz", data-cycle-slides="> div", data-cycle-timeout="4000", data-cycle-speed="1000", data-cycle-swipe="true", data-cycle-pager=".cycle-pager", data-cycle-pager-template="<span></span>")
		.item-slide.bkg-cover(style="background-image: url({DIR}media/images/img-sac1.jpg);")
			.label.wrapper.pr
				h1.pa SISTEMA DE ATENCIÓN
					br
					| AL CLIENTE
				h2.pa ¡Tu enlace directo con SAPAL!
	.title-blue.tac.wrapper ¡BIENVENIDO!
	#gralBox
		h1.tac ¿Qué es el Sistema de Atención al Cliente, SAC?
		p.taj Es un sistema que ofrece a nuestros clientes la forma más fácil para la presentación de sus reportes, quejas y sugerencias, así como solicitudes de información en general o sobre el estado de sus cuentas, con la garantía de una atención esmerada y una solución rápida y eficaz, hasta lograr su plena satisfacción.
		p.taj Nuestros clientes pueden presentar sus reportes al Sapal, a través de todas las entradas que le ofrece el SAC: llamada telefónica, visita personal, correo electrónico, correo regular, buzón en las sucursales de Sapal o en nuestro nuevo servicio en línea.
		h2.tac Es para nosotros, un placer atenderlo.
		.title-blue.tac.small SERVICIOS
		p.tac
			strong PARA PODER ACCEDER A ESTOS SERVICIOS EN LÍNEA, NECESITA ESTAR REGISTRADO.
		ul.ul_hoz.tac
			li.li1
				a(href="").rfalse.dib.tac
					span PAGAR SU
					br
					span RECIBO
			li.li2
				a(href="").rfalse.dib.tac
					span HACER UN
					br
					span REPORTE
			li.li3
				a(href="").rfalse.dib.tac
					span SOLICITAR
					br
					span INFORMACIÓN
			li.li4
				a(href="").rfalse.dib.tac
					span DAR
					br
					span SEGUIMIENTO
					br
					span A SU REPORTE
			li.li5
				a(href="").rfalse.dib.tac
					span CONTRATOS
			li.li6
				a(href="").rfalse.dib.tac
					span FRACCIONADORES
		.alert-blue
			.tac
				strong INFORMACIÓN IMPORTANTE
				br
				| Si desea realizar algún otro tipo de reporte, o requiere información adicional que no encuentre aquí, favor de comunicarse al Área de Atención a Clientes de SAPAL en nuestra Línea Directa 073 donde con gusto le atenderemos.
