#noticias
	#gralCycle.cycle-slideshow(data-cycle-fx="scrollHorz", data-cycle-slides="> div", data-cycle-timeout="4000", data-cycle-speed="1000", data-cycle-swipe="true", data-cycle-pager=".cycle-pager", data-cycle-pager-template="<span></span>")
		.item-slide.bkg-cover(style="background-image: url({DIR}media/images/img-noticias1.jpg);")
			.label.wrapper.pr
				h1.pa SALA DE
					br
					| PRENSA
	#gralBox
		h1.tac COMUNICADOS DE PRENSA
		.controls
			.r
				a(href="").rfalse.a_pdf.dib
				a(href="").rfalse.a_print.dib
				a(href="").rfalse.a_mail.dib
			.clear
		.lrow
			h3.tal.h31 Lo más reciente
			.ml10
				p.taj Invierten expertos en tema del agua a la Gestión Social.
			h3.tal.h32 Artículos destacados
			.ml10
				p.taj Recibe SAPAL buenas referencias por parte de organismos del agua.
				p.taj SAPAL presente en la inauguración de expo ANEAS 2013.
				p.taj Llegarán los servicios de SAPAL a la Comunidad Los Naranjos.
			h3.tal.h33 Lo más leído
			.ml10
				p.taj Se realiza la 1ra. reunión de Trabajo del Comité de Prevención de Inundaciones.
				p.taj Acceso universal al agua, prioridad para el Consejo Directivo de SAPAL 2013-2016.
				p.taj Destina Consejo Directivo de SAPAL mayor inversión para obras en comunidades rurales.
			h3.tal.h34 Comunicados anteriores
			.ml10
				p.taj Representantes Del Banco Mundial Visitan Sapal.
				p.taj Reafirma Sapal Su Compromiso Con Los Constructores Locales.
				p.taj Atiende Sapal Hundimiento Frente A Bosques De La Presa.
				p.taj Suman 14 Descargas Canceladas Y 50 Convenios Con Curtidores.
				p.taj Cumple Su Función El Sistema Hidrográfico De León Presa El Palote Al 100 Por Ciento De Capacidad.
				p.taj Sapal-Cmic Reinstalan Comisión Que Regula Asignación De Obra Pública.
				p.taj Autoridades De Sapal Visitan Tenerías Responsables Con El Ambiente.
				p.taj Avanzan Obras De Agua Y Drenaje En Zona Rural
				p.taj Las Obras En El Malecón Continuarán Durante La Semana.
				p.taj Intervienen Sapal, Protección Civil Y Desarrollo Rural Para Restablecer La Situación En La Comunidad El Cachete.
		.rrow
			h2.tal Invierten expertos en tema del agua a la Gestión Social
			p.taj Comunicado 65-13
			p.taj Jueves 7 de noviembre de 2013
			p.taj Invierten expertos en tema del agua a la Gestión Social
			p.taj El espacio que tiene el Sistema de Agua Potable y Alcantarillado de León en la Expo Aneas 2013, fue visitado por varios expertos en el tema del agua, quienes reconocieron la importancia del acompañamiento social en las obras que realizan los organismos operadores. En el stand se les presentó el programa de Gestión Social que lleva a cabo Sapal y que acompaña sus obras. Se hizo una dinámica en la que se presentan cuatro opciones que simulan cuatro líneas de inversión en temas de agua, Fuentes de Abastecimiento, Infraestructura, Saneamiento y Gestión Social; la mayoría se vio interesada en la última.
			p.taj Roberto Olivares, director ejecutivo de la Asociación Nacional de Empresas de Agua y Saneamiento de México A.C. (Aneas), visitó el espacio y optó por invertir a la Gestión Social, mencionó la importancia de informar de forma eficiente a los usuarios sobre las obras que se realizan y el beneficio que traen consigo.
			p.taj Mary Claire Whitaker, asesora del gobierno de Ontario Canadá, elogió el trabajo de Sapal, dijo sentirse sorprendida con las labores que realiza el organismo y le parece excelente el acompañamiento social en sus obras, además de los proyectos que tiene para asegurar el acceso universal al agua por medio de las tomas comunitarias, reconoció que el organismo está posicionado a nivel mundial por la innovación y que su experiencia en acompañamiento debe compartirse con los demás organismos.
			p.taj Araceli Martínez del sistema operador de Atlixco Puebla, dijo que es muy importante la Gestión Social porque permite a los usuarios conocer el beneficio de las obras que se realizan, agregó que las obras tienen que ir de la mano con Gestión Social y Cultura del Agua porque refuerza y crea un vínculo estrecho entre el organismo y el usuario, donde se responden sus dudas, finalizó que es muy interesante y felicitó al Sapal por ello.
			p.taj Emiliano Rodríguez subdirector de Planeación de la Comisión Nacional del Agua, comentó que la Gestión Social es la mejor forma de trabajar, que la gente esté conforme y sepa lo que se está haciendo. Agregó que realmente el servicio de agua potable y alcantarillado no es muy visible, solo cuando hace falta, ahí radica la necesidad de hacer una labor social cuando se realizan las obras.
			p.taj Erad Pérez, de Barcelona, mencionó que intervenir en las comunidades es muy interesante, también el que se haga conciencia en la población de los servicios que les están llevando, concluyó que es necesario hacer comunidad, no solo en México sino en todo el mundo.
			p.taj Omar Bravo, encargado de Operación Hidráulica de la Comisión de Agua de Tepeji del Río, dijo que lo que presenta Sapal en su stand, es lo que a él le gustaría tener en su organismo, les interesa mucho el compararse y ver qué hacen los organismos de éxito como el de León, calificó de impresionante el nivel que maneja y envió felicitaciones al director del Sapal.
			p.taj Enrique Torres, director del Sistema de Agua Potable y Alcantarillado de León, afirmó que el organismo seguirá participando en este tipo de eventos porque es la forma en que los conocimientos se renuevan, se reafirman las buenas prácticas y se busca la corrección de las que no se están haciendo bien. Estos eventos tienen el valor de compartir con gente que hace lo mismo en otras partes, de tal forma que permite planear la mejor forma de trabajar, no solo con intercambio de prácticas sino que se busca ayudar a quienes menos han desarrollado sus sistemas, de tal forma que puedan mejorarlo.
			ul.ul_hoz
				li
					img(src="{DIR}media/images/img-not1.jpg", alt="Invierten expertos en tema del agua a la Gestión Social")
				li
					img(src="{DIR}media/images/img-not2.jpg", alt="Invierten expertos en tema del agua a la Gestión Social")
				li
					img(src="{DIR}media/images/img-not3.jpg", alt="Invierten expertos en tema del agua a la Gestión Social")
		.clear